.nav {
  background-color: white;
  display: flex;
  min-height: 72px;
  width: 100%;
  box-shadow: rgb(229, 232, 235) 0px 1px 0px 0px;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}

.nav__ul {
  align-items: center;
  display: flex;
  list-style-type: none;
  width: 100%;
  margin-left: 8px;
  margin-right: 16px;
  gap: 10px;
}

.nav__logo {
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 1.3rem;
  margin-right: auto;
  gap: 5px;
}

.nav__icon--logo {
  height: 2em;
}

.nav__button {
  background-color: white;
  border-color: rgb(227, 227, 227);
  border-radius: 0.8rem;
  border-style: solid;
  border-width: 1px;
  display: block;
  height: 2.8rem;
  width: 2.8rem;
}

#nav__hamburger {
  display: none;
}

.nav__icon {
  width: 100%;
  height: 100%;
  padding: 25%;
}

label.nav__button {
  display: flex;
}

.nav__hamburger {
  background-color: black;
  height: 2.9px;
  width: 52%;
  margin: auto;
  position: relative;
}

.nav__hamburger::before,
.nav__hamburger::after {
  content: " ";
  display: block;
  background-color: black;
  height: 2.9px;
  width: 100%;
  position: absolute;
}

.nav__hamburger::before {
  top: -7px;
}

.nav__hamburger::after {
  top: 7px;
}

#nav__hamburger:checked + label .nav__hamburger::after,
#nav__hamburger:checked + label .nav__hamburger::before {
  top: 0;
}

#nav__hamburger:checked + label .nav__hamburger::after {
  transform: rotate(45deg);
}

#nav__hamburger:checked + label .nav__hamburger::before {
  transform: rotate(-45deg);
}

#nav__hamburger:checked + label .nav__hamburger {
  background-color: transparent;
}

.hamburger__navigation {
  background-color: white;
  position: absolute;
  top: 72px;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  max-width: 100%;
}

.hamburger__link {
  height: 72px;
  display: flex;
  align-items: center;
}

.hamburger__link-btn {
  align-items: center;
  background-color: transparent;
  border-style: none;
  display: flex;
  font-weight: 600;
  font-size: 1rem;
  height: 32px;
  padding: 0px 10px;
  width: 100%;
}

.hamburger__link-btn div {
  margin-right: auto;
}

.hamburger__link-icon {
  display: block;
  height: 32px;
  margin-right: 8px;
  padding: 4px;
  width: 32px;
}

.arrow {
  width: 32px;
  height: 32px;
  padding: 7px;
}

#nav__hamburger:checked ~ .hamburger__navigation {
  left: 0;
}

.hamburger__link--search {
  background-color: black;
  width: 500px;
}

.nav__button--text {
  width: 100%;
  text-indent: 0.5em;
  font-size: 1em;
}

.desktop--hide {
  display: none;
}
.nav__links {
  display: flex;
  font-weight: 600;
  height: 100%;
  align-items: center;
}

.desktop--show {
  display: none;
}

.nav__button--account {
  background: white;
  border-color: rgb(227, 227, 227);
  border-radius: 0.8em;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-style: solid;
  border-width: 1px;
  display: flex;
  gap: 5px;
  height: 42px;
  margin: auto;
  font-weight: 600;
  font-size: 1rem;
  align-items: center;
  padding: 12px;
}

.nav__button--account.hover-list {
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.nav__button--account div {
  width: 150px;
}

#nav__search {
  display: none;
}

#nav__search--input {
  display: none;
}

.nav__search--input {
  font-size: 1rem;
  height: 100%;
  position: absolute;
  text-indent: 3rem;
  width: 100%;
}

#nav__search--input .nav__button {
  position: absolute;
  z-index: 2;
  top: 14px;
  left: 5px;
  transform: scaleX(-1);
}

#nav__search:checked ~ #nav__search--input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 72px;
  width: 100vw;
}

.nav-hover__btn{
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.nav-hover__btn:hover{
  background-color: lightgray;
}

.hover-list__div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.hover-list + ul {
  background-color: white;
  border-color: rgb(227, 227, 227);
  border-radius: 0.8rem;
  border-style: solid;
  border-width: 1px;
  display: none;
  font-weight: 600;
  position: absolute;
}

.hover-list + ul li {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  text-indent: 1rem;
}

.hover-list + ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  top: 80px;
  width: 260px;
  visibility: hidden;
  transition: all 0.25s;
}

.hover-list:hover + ul {
  visibility: visible;
  transition: none;
}

.hover-list + ul:hover {
  visibility: visible;
  transition: none;
}

/* car btn */ 

.black{
position: fixed;
inset: 0;
background-color: rgba(0, 0, 0, 0.6);
z-index: 5;
}

.car{
  background-color: white;
  border-radius: 0.8rem 0.8rem 0 0;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  bottom: 0;
  overflow:auto;
  white-space: nowrap;
  width: 100%;
}

.car__header{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  padding:30px 30px 28px 30px;
  box-shadow: rgb(229, 232, 235) 0px 1px 0px 0px;
  position: relative;
}

.car__items{
  box-shadow: rgb(229, 232, 235) 0px 1px 0px 0px;
  padding: 1rem 1.5rem;
}

.car__item--empty{
  height: 150px;
}

.car__item{
  display: flex;
  border-radius: 0.8rem;
  padding: 1rem 0;  
}

.car__buy{
  width: 100%;
  padding: 1.5rem;
}

.span__center{
  margin: auto;
}

.buy-btn{
  border: none;
  border-radius: 0.8rem;
  width: 100%;
  font-size: 1rem;
  padding: 11px 24px;
  background-color: var(--swiper-theme-color);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.buy-btn:hover{
  cursor: pointer;
  filter: brightness(125%);
}

.close-btn{
  cursor: pointer;
  font-size: 30px;
max-height: 1em;
background-color: transparent;
border: 0;
}

.header__title{
  margin-right: auto;
}

.item__img{
  border-radius: 0.8rem;
  border-style: solid;
  display: block;
  height: 72px;
  width: 72px;
}

.item__data{
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.item__remove{
  display: flex;
}

.car__item:hover{
  background: rgba(18, 18, 18, 0.04);
}

.item__img-container{
  align-items: center;
  display:flex;
  margin-left: 10px;
  width: 82px;
}

.item__remove-btn{
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 1rem;
}

.data__text{
  font-size: 14px;
  line-height: 20px;
}

.data__text--uppercase{
  text-transform: uppercase;
}

.data__text--title{
  font-size: 16px;
  font-weight: 600;
  height: 1.5rem;
}

.data__text--earnings{
  font-weight: 400;
  font-size: 12px;
}

.items__count{
  display: flex;
  justify-content: space-between;
}

.items__price{
  display: flex;
  line-height: 1.5rem;
  justify-content: space-between;
  padding:12px 0;
}

.price__text{
  font-weight: 600;
}

.price__total{
  text-align: right;
}

.price__text--dollar{
  font-size: 14px;
  font-weight: 400;
}

.scrolloff{
  overflow-y: hidden;
}

.auth{
  background: white;
  border-radius: 1rem;
  padding: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

.auth__form{
  display: flex;
  flex-direction: column;
}

.auth--padding{
  margin: 0.5rem 0;
  padding: 1em;
}

.auth--padding:invalid{
  background-color: rgb(231, 0, 0,0.25);
}

.close-btn--aligned{
  max-height: none;
}

.sign{
  margin-top: 0.5rem;
}

.sign__question{
  font-weight: 600;
}

.sign__btn{
  background-color: transparent;
  border: 0;
  color: blue;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem;
}

@media screen and (max-width: 600px) {
  .desktop--hide {
    display: block;
  }
  .nav__button--text {
    display: none;
  }
}

@media screen and (min-width:1000px){
.car{
  border-radius: 0.8rem;
  bottom: 1.5rem;
  right: 1.5rem;
  top: 1.5rem;
  width: 30%;
}
}
@media screen and (min-width: 1200px) {
  .nav__container.nav__button--hamburger {
    display: none;
  }
  .desktop--show {
    display: flex;
  }
}
