.landing-items{
    width: 100%;
}

.landing-items__ul{
    width: 100%;
}

.landing-categories .swiper-slide{
    width: fit-content;
}

.landing-items__li{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.swiper-slide.landing-items__li {
    height: 300px;
    width: 300px;
}

.card{
    width: 90%;
    height: 90%;
    background-color: white;
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.3));
    border-style: solid;
    border-width: 0px;
    border-radius: 10px ;
}

.card__img {
    width: 100%;
    height: 55%;
    background-color: black;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

}

.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__text-wrapper {
    border-radius: 0 0 10px 10px;
    font-weight: 600;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.card__text{
    width: 100%;
    display: flex;
    padding-bottom: 1rem;
}

span.title{
    display: inline-block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card__market{
    display: flex;
}

.card__market > *{
    flex:1;
}

.card__market-sub{
    color:rgb(100, 109, 117);  
    text-transform: uppercase;
    font-size: 0.8rem;
}

.card__market-data{
    text-transform: uppercase;
}

span.check-icon img{
    height: 60%;
    align-self: center;
}

.section-title{
    font-size: 24px;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 1rem;
    padding:0.4rem 0;
}

.categories__li{
    display: block;
    padding:0.4rem 1rem;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px ;
    width: fit-content;
}

div.swiper-slide{
    display: flex;
    align-items: center;
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 1rem;
    font-weight: 700;
    color:black;
}

div.swiper-button-prev, div.swiper-button-next {
    width: 50px;
    height: 50px;
    background-color: white;
    border-style: solid;
    border-width: 0px;
    border-radius: 100%;
    border-color: black;
    filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.4));
    text-align: center;
}